includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php

    # Level 6 is required for Phase 0
    level: 6

    tmpDir: storage/framework/cache/phpstan

